<% if @book.errors.any? %>
  <%= pluralize(@book.errors.count, 'error') %>
  <ul class="mdl-list">
    <% @book.errors.full_messages.each do |msg| %>
      <li class="mdl-list__item"><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @book do |f| %>

<div class="mdl-textfield mdl-js-textfield">
  <%= f.text_field :title, class: "mdl-textfield__input" %>
  <% if @book.errors[:title].any? %>
    <span class="error-text">* <%= @book.errors[:name].join(", ") %> </span>
  <% end %>
  <%= f.label :title, class: "mdl-textfield__label" %>
</div>

<div class="mdl-textfield mdl-js-textfield">
  <%= f.text_field :price, class: "mdl-textfield__input" %>
  <% if @book.errors[:price].any? %>
    <span class="error-text">* <%= @book.errors[:name].join(", ") %> </span>
  <% end %>
  <%= f.label :price, class: "mdl-textfield__label" %>
</div>

<div class="mdl-textfield mdl-js-textfield">
<%= f.attachment_field :image_url%>
  <% if @book.errors[:image_url].any? %>
   <span class="mdl-textfield__error">* <%= @book.errors[:book_image].join(", ") %> </span>
 <% end %>
</div>

<div class="mdl-textfield mdl-js-textfield">
  <%= f.label :author_id %>
  <%= f.collection_select :author_id, Author.all.order("full_name asc"), :id, :full_name, {prompt: "Select Author"} %>
</div>

<div class="submit">
  <%= f.submit class: "waves-effect waves-light btn" %>
</div>

<% end %>
