<% if @book.errors.any? %>
  <%= pluralize(@book.errors.count, 'error') %>
  <ul class="mdl-list">
    <% @book.errors.full_messages.each do |msg| %>
      <li class="mdl-list__item"><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @book do |f| %>

<div class="mdl-textfield mdl-js-textfield">
  <%= f.text_field :title, class: "mdl-textfield__input" %>
  <% if @book.errors[:title].any? %>
    <span class="error-text">* <%= @book.errors[:name].join(", ") %> </span>
  <% end %>
  <%= f.label :title, class: "mdl-textfield__label" %>
</div>

<div class="mdl-textfield mdl-js-textfield">
  <%= f.text_field :price, class: "mdl-textfield__input" %>
  <% if @book.errors[:price].any? %>
    <span class="error-text">* <%= @book.errors[:name].join(", ") %> </span>
  <% end %>
  <%= f.label :price, class: "mdl-textfield__label" %>
</div>

<div class="mdl-textfield mdl-js-textfield">
  <%= f.text_field :photo_url, class: "mdl-textfield__input" %>
  <% if @book.errors[:photo_url].any? %>
    <span class="error-text">* <%= @book.errors[:photo_url].join(", ") %> </span>
  <% end %>
  <%= f.label :photo_url, class: "mdl-textfield__label" %>
</div>

<div class="mdl-textfield mdl-js-textfield">
<%= f.text_field :author,  class: "mdl-textfield__input"%>
<% if @book.errors[:author].any? %>
  <span class="error-text">* <%= @book.errors[:author].join(", ") %> </span>
<% end %>
  <%= f.label :author, class: "mdl-textfield__label" %>
</div>

<div class="submit">
  <%= f.submit class: "waves-effect waves-light btn" %>
</div>

<% end %>
