<nav>
  <div class="nav-wrapper">
    <%= link_to 'Iron Library', root_path, class: 'brand-logo' %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Book List', books_path %></li>
      <li><%= link_to 'New Book', new_book_path %></li>
      <li><%= link_to 'Author List', authors_path %></li>
      <li><%= link_to 'New Author', new_author_path %></li>
     <% if @current_user %>
        <li>  <%= link_to "Sign Out", sign_out_path %></li>
        <% else %>
        <li>   <%= link_to "Sign In", sign_in_path %></li> 
        <% end %>
    </ul>
  </div>
</nav>
